body {
    background: linear-gradient(120deg, #1e3c72, #2a5298);
    min-height: 100vh;
    color: white;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: none;
    color: white;
}

.table {
    background: white;
    color: black;
    border-radius: 10px;
}

.btn-custom {
    background: #00c6ff;
    border: none;
    color: black;
}

.upload-box {
    border: 2px dashed white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

.success-box {
    padding: 50px;
    text-align: center;
}
